/* === main.css === */
main {
  margin-top: 90px;
  padding: 20px;
  min-height: 100vh;
}

.container {
  color: var(--blanco);
}

hr {
  border: 1px solid var(--rojo);
}

.text-danger {
  color: var(--rojo) !important;
}

/* Botones flotantes o fijos */
.fixed-action-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}