/* === main.css === */

h1, h2, h3 {
  color: var(--rojo);
  text-shadow: 0 0 10px var(--rojo);
}

/* === Formularios === */
.form-container {
  background: #111;
  padding: 40px 35px;
  border-radius: 15px;
  border: 1px solid var(--rojo);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
  width: 90%;
  max-width: 420px;
  margin: 130px auto;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 25px;
  color: var(--rojo);
  text-shadow: 0 0 10px var(--rojo);
}

.form-container label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: #ccc;
  font-size: 0.9rem;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: none;
  border-radius: 8px;
  background: var(--gris);
  color: var(--blanco);
  outline: none;
  transition: 0.3s;
}

.form-container input:focus {
  border: 1px solid var(--rojo);
  box-shadow: 0 0 10px var(--rojo);
}

.form-container button {
  width: 100%;
  background: var(--rojo);
  border: none;
  padding: 12px;
  color: var(--blanco);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s;
}

.form-container button:hover {
  background: #e00000;
  box-shadow: 0 0 15px var(--rojo);
}

.form-container p {
  color: #aaa;
  margin-top: 15px;
  font-size: 0.9rem;
}

.form-container a {
  color: var(--rojo);
  font-weight: bold;
}

/* === Responsive === */
@media (max-width: 600px) {
  .form-container {
    margin-top: 100px;
    padding: 25px 20px;
  }

  .form-container h2 {
    font-size: 1.5rem;
  }

  .form-container input {
    padding: 10px;
  }
}